
<main role="main">
  <div class="jubotron">
    <div class ="container">
      <h1 class="display-4">簡単に、着実に記録を残す</h1>
      <p>lyt-note（ライトノート）は目標を設定し、日々の記録を残せるサービスです。</p>
      <p>
        <%= link_to "つかってみる（ゲストログイン）", users_guest_sign_in_path, method: :post ,class: "btn btn-primary btn-lg" %>
      </p>
    </div>
  </div>
  <div class ="container"></div>
</main>
<footer class="container"></footer>
