<section id="report">
  <div class = "container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="my-4">404 Not Found</h2>
        <p>お探しのページをみつけることはできませんでした。
        移動または削除された可能性があります。</p>
        <p>URLの間違いがないか再度確認してください</p>
      </div>
    </div>
  </div>
</section>